<div id = "banner" class="container">
    <!-- <ul>
        <li class="show"><img src ="/static/img/banner_img1.jpg"></li>
        <li><img src ="/static/img/banner_img2.jpg"></li>
        <li><img src ="/static/img/banner_img3.jpg"></li>
    </ul>
    <ol>
        <li class="active"></li>
        <li></li>
        <li></li>
    </ol>
    <div class="banner-mask"></div> -->
</div>

<!-- <div id="banner" class="container">
    <ul>
        <li class="show"><a href="#"><img src="/static/img/banner_img1.jpg" alt=""></a></li>
        <li><a href="#"><img src="/static/img/banner_img2.jpg" alt=""></a></li>
        <li><a href="#"><img src="/static/img/banner_img3.jpg" alt=""></a></li>
    </ul>
    <ol>
        <li class="active"></li>
        <li></li>
        <li></li>
    </ol>
    <div class="banner-mask"></div>
</div> -->