<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/static/icon/iconfont.css">
    <script src="/lib/require.js" data-main="/js/detail.js"> </script>
</head>
<body>
    @include('head.html')
    @include('banner.html')
    <div id="detail" class="container clearfix"></div> 
    <div id="detailGoods" class="container-fluid"></div> 
    @include('foot.html')
</body>
</html>